@import './variable.scss';

.authorization-block {
  &__form--field {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 8px;
    margin-bottom: 8px;
    width: 100%;

    &-label {
      row-gap: 8px;
      margin: 0;
      justify-self: start;
      width: 100%;
      max-width: 270px;

      .academic-status, .groups {
        border: 1px solid $additional-color;
        box-shadow: inset 0px 0px 3.57px 1.43px rgba(0, 0, 0, 0.35);
        width: 100%;
        max-width: 270px;
        font-weight: 500;

        input {
          border: none;
          box-shadow: none;
        }
      }
    }

    input:not([type='checkbox']), .academic-status, .groups {
      display: block;
      min-width: 270px;
      width: 100%;
      max-width: 270px;
      height: 48px;

      @media screen and (max-width: 1350px) {
        min-width: 250px;
        max-width: 250px;
      }

      @media screen and (max-width: 1250px) {
        min-width: 200px;
        max-width: 200px;
      }

      @media screen and (max-width: 1150px) {
        min-width: 170px;
        max-width: 170px;
      }
    }
  }

  &__form--field-label--checked {
    display: grid;
    grid-template-columns: 25px 1fr;
    column-gap: 10px;
    align-items: center;
    justify-items: flex-start;
    height: 100%;
    white-space: nowrap;

    @media screen and (max-width: 1250px) {
      grid-template-columns: 25px 1fr;
      column-gap: 5px;
    }

    @media screen and (max-width: 950px) {
      grid-template-columns: 20px 1fr;
    }

    input {
      margin-left: 5px;
      transform: scale(2);
      cursor: pointer;
    }
  }

  &__form--field-btn-login {
    margin-top: 15px;
  }
}