@import './variable.scss';

.header {
  &__block {
    justify-content: space-between;
    height: 100px;
    width: 100%;
    max-width: 1920px;
    padding: 0 35px;

    &--logo {
      margin-right: 5px;
    }

    &--logo-icon {
      height: 60px;
      margin-right: 15px;
    }

    &--logo-schedule {
      height: 29px;
    }

    &--navbar {
      list-style-type: none;
      font-size: 23px;
      font-weight: 500;
      line-height: 1.2;
      text-align: center;
      margin: 0;
    }

    &--navbar--link {
      justify-content: center;
      width: 120px;
      height: 45px;
      border: 3px solid $additional-color;
      background: $additional-color;

      a {
        color: $title-text-color;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .login-link {
      margin-left: 7px;
      background: $background-color;

      a {
        color: $additional-color;
      }
    }
  }
}

.header__additional-block,
.login-block__title {
  height: 50px;
  background: $additional-color;
  color: $title-text-color;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  margin-bottom: 15px;
}