@import './variable.css';

.login-block {
  margin-bottom: 40px;
  &__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__form {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    margin: 30px 0;
  }

  &__form--field {
    position: relative;
    margin-bottom: 20px;

    input {
      width: 100%;
      min-width: 400px;
      height: 38px;
      border: 1px solid #111;
      border-radius: 10px;
      padding: 10px 15px;

      &:focus{
        outline: none;
      }
    }
  }

  &__form--field-label {
    position: absolute;
    top: -14px;
    left: 15px;
    background-color: #fff;
  }

  &__form--field-btn-login {
    max-height: 60px;
    max-width: 200px;
    min-width: 150px;
    border: 1px solid #111;
    border-radius: 15px;
    background: transparent;
    transition: 0.3s all;
    font-weight: 500;

    &:hover {
      background: #343A40;
      color: #fff;
    }
  }
}