@media screen and (max-width: 900px) {
  .login-block h2 {
    margin-bottom: 30px;
  }
  .login-block__form--field-btn-login {
    margin-top: 0;
  }
  .login-block__section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .login-block__section--line,
  .authorization-block__section--line {
    margin-bottom: 25px;
    width: 80%;
    height: 2px;
    opacity: 0.3;
  }
}

@media screen and (max-width: 900px) {
  .header__block--logo-schedule {
    height: 21px;
  }
  .header__block--navbar {
    font-size: 19px;
  }
  .header__additional-block,
  .login-block__title,
  .shedule-block__title {
    font-size: 20px;
  }
  .container {
    height: 400px;
  }
  .container .slick-arrow {
    top: 85%;
  }
  .container .slick-dots {
    bottom: 35px;
  }
  .container .slick-slide img {
    height: 400px;
  }
  .login-block__form,
  .authorization-block__form {
    margin: 0 0 10px;
  }
  .footer__section {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 780px) {
  .header__block {
    height: 305px !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px;
  }
  .header__block--navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 300px;
    padding: 0;
  }
  .header__block--navbar li {
    margin-top: 15px;
  }
  .header__block--navbar li a, .header__block--navbar li button {
    width: 300px;
  }
  .header__block--navbar .profile-btn {
    width: 300px;
  }
  .header__block--navbar--link {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .container {
    height: 350px;
  }
  .container .slick-slide img {
    height: 350px;
  }
}

@media screen and (max-width: 550px) {
  .header__additional-block,
  .login-block__title,
  .shedule-block__title {
    font-size: 18px;
  }
  .container {
    height: 300px;
  }
  .container .slick-slide img {
    height: 300px;
  }
  .container .slick-dots {
    bottom: 20px;
  }
  .container .slick-next {
    right: 15px;
  }
  .container .slick-prev {
    left: 15px;
  }
  .login-block__form--field-btn-login,
  .authorization-block__form--field-btn-login {
    font-size: 20px;
  }
  .authorization-block__form--field-label--checked {
    margin: 3px 0 10px;
  }
  .authorization-block__form--field-label--checked input {
    margin-right: 5px;
  }
  .footer .footer__nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.6fr 3px 0.5fr;
        grid-template-columns: 0.6fr 3px 0.5fr;
  }
  .footer .footer__nav .footer__column {
    margin-left: 15px;
    text-align: start;
  }
}

@media screen and (max-width: 480px) {
  .container {
    height: 270px;
  }
  .container .slick-slide img {
    height: 270px;
  }
  .authorization-block__form--field-label--checked {
    -ms-grid-columns: 25px 1fr;
        grid-template-columns: 25px 1fr;
    -webkit-column-gap: 5px;
            column-gap: 5px;
    margin: 3px 0 10px;
  }
  .authorization-block__form--field-label--checked input {
    margin-right: 5px;
  }
}

@media screen and (max-width: 430px) {
  .header__additional-block,
  .login-block__title,
  .shedule-block__title {
    font-size: 16px;
  }
  .container {
    height: 250px;
  }
  .container .slick-slide img {
    height: 250px;
  }
  .authorization-block__form--field {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .authorization-block__form--field input:not([type='checkbox']) {
    min-width: 320px;
    max-width: 320px;
  }
  .authorization-block__form--field .authorization-block__form--field-label--checked {
    -ms-grid-columns: 25px 1fr;
        grid-template-columns: 25px 1fr;
    margin: 3px 0 10px;
  }
  .login-block__section h2,
  .authorization-block__section h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .login-block__form--field-label,
  .login-block__form--field-label--name-section-label,
  .authorization-block__form--field-label,
  .authorization-block__form--field-label--name-section-label {
    font-size: 15px;
  }
  .login-block__form--field,
  .login-block__form--field-label--name-section,
  .authorization-block__form--field,
  .authorization-block__form--field-label--name-section {
    margin-bottom: 10px;
  }
  .footer {
    height: 400px;
  }
  .footer .footer__section--block {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    row-gap: 15px;
  }
  .footer__column {
    text-align: center;
  }
}

@media screen and (max-width: 380px) {
  .header__additional-block,
  .login-block__title,
  .shedule-block__title {
    font-size: 15px;
  }
  .container {
    height: 220px;
  }
  .container .slick-slide img {
    height: 220px;
  }
  .container .slick-arrow {
    top: 80%;
  }
}

@media screen and (max-width: 1200px) {
  .bot-page__info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bot-page__info > .bot-page__info--link {
    margin-right: 0;
    margin-bottom: 20px;
    width: 300px;
  }
  .bot-page__image {
    width: auto;
    height: auto;
  }
  .user-info > .photo-block {
    display: none;
  }
  .user-info {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .profile {
    -ms-grid-columns: 250px 1fr;
        grid-template-columns: 250px 1fr;
  }
  .menu-block > div > .menu-item {
    line-height: 15px !important;
  }
  .menu-item.active {
    padding-left: 5px !important;
  }
  .exit-btn {
    line-height: 15px !important;
  }
  .authorization-block__form--field {
    -ms-grid-columns: (300px)[1] !important;
        grid-template-columns: repeat(1, 300px) !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .authorization-block__form--field > label > input,
  .authorization-block__form--field > input {
    width: 100% !important;
    max-width: inherit !important;
  }
  .teachers-block {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  .one-teacher {
    display: -ms-grid;
    display: grid;
    width: 482px;
  }
  .teachers-info .teachers-block__item {
    width: 100%;
    -ms-grid-columns: 401px 35px 31px;
        grid-template-columns: 401px 35px 31px;
  }
  .subjects-block__item input:not([type='checkbox']),
  .teachers-block__item input:not([type='checkbox']) {
    width: 400px;
  }
  .teachers-block__item {
    width: 481px;
    -ms-grid-columns: 407px 35px 31px;
        grid-template-columns: 407px 35px 31px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .subjects-block__item {
    -ms-grid-columns: 400px 35px;
        grid-template-columns: 400px 35px;
    width: 442px;
  }
}

@media screen and (max-width: 900px) {
  .profile {
    display: inherit;
  }
  .cabinets-page {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cabinets-page .one-floor {
    margin-bottom: 20px;
  }
  .cabinets-save-btn,
  .subjects-save-btn,
  .teachers-save-btn {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 600px) {
  .one-teacher {
    display: -ms-grid;
    display: grid;
    width: 382px;
  }
  .teachers-info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .teachers-info > input {
    width: 329px;
    margin: 2px auto;
    border: 1px solid #aaaaaa;
  }
  .teachers-info > div:not(.status) {
    text-align: start;
    padding-left: 15px;
  }
  .teachers-info .teachers-block__item {
    width: 100%;
    -ms-grid-columns: 301px 35px 31px;
        grid-template-columns: 301px 35px 31px;
  }
  .subjects-block__item input:not([type='checkbox']),
  .teachers-block__item input:not([type='checkbox']) {
    width: 300px;
  }
  .teachers-block__item {
    width: 381px;
    -ms-grid-columns: 307px 35px 31px;
        grid-template-columns: 307px 35px 31px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .subjects-block__item {
    -ms-grid-columns: 300px 35px;
        grid-template-columns: 300px 35px;
    width: 342px;
  }
}

@media screen and (max-width: 500px) {
  .one-teacher {
    display: -ms-grid;
    display: grid;
    width: 332px;
    font-size: 15px;
  }
  .teachers-info .teachers-block__item {
    width: 100%;
    -ms-grid-columns: 251px 35px 31px;
        grid-template-columns: 251px 35px 31px;
  }
  .subjects-block__item input:not([type='checkbox']),
  .teachers-block__item input:not([type='checkbox']) {
    width: 250px;
    font-size: 16px;
  }
  .teachers-block__item {
    width: 331px;
    -ms-grid-columns: 257px 35px 31px;
        grid-template-columns: 257px 35px 31px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .subjects-block__item {
    -ms-grid-columns: 250px 35px;
        grid-template-columns: 250px 35px;
    width: 292px;
  }
}

@media screen and (max-width: 1200px) {
  .bot-page__info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bot-page__info > .bot-page__info--link {
    margin-right: 0;
    margin-bottom: 20px;
    width: 300px;
  }
  .bot-page__image {
    width: auto;
    height: auto;
  }
  .user-info > .photo-block {
    display: none;
  }
  .user-info {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .profile {
    -ms-grid-columns: 250px 1fr;
        grid-template-columns: 250px 1fr;
  }
  .menu-block > div > .menu-item {
    line-height: 15px !important;
  }
  .menu-item.active {
    padding-left: 5px !important;
  }
  .exit-btn {
    line-height: 15px !important;
  }
  .authorization-block__form--field {
    -ms-grid-columns: (300px)[1] !important;
        grid-template-columns: repeat(1, 300px) !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .authorization-block__form--field > label > input, .authorization-block__form--field > input {
    width: 100% !important;
    max-width: inherit !important;
  }
}

@media screen and (max-width: 900px) {
  .profile {
    display: inherit;
  }
}

@media screen and (max-width: 1450px) {
  .prev-btn, .next-btn {
    top: 22% !important;
  }
  .prev-btn {
    left: 28% !important;
  }
  .next-btn {
    right: 28% !important;
  }
  .setting-block {
    -ms-grid-columns: (325px)[1] !important;
        grid-template-columns: repeat(1, 325px) !important;
  }
  .day-week {
    margin-top: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .btn-block {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .shedule-edit .shedule-block__section--one-day.active {
    width: 320px !important;
    padding-top: 100px !important;
  }
}

@media screen and (max-width: 520px) {
  .shedule-block__select-group.css-2b097c-container {
    max-width: 325px;
  }
  .setting-block {
    justify-items: center;
  }
  .setting-block > div {
    min-width: 325px;
  }
  .shedule-block__section--one-day.active {
    width: 320px !important;
  }
}

@media screen and (max-width: 1000px) {
  .header__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 165px;
  }
  .header__block nav {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=mobile-version.css.map */