$background-color: #fff;
$additional-color: rgb(3, 152, 253);
$title-text-color: #fff;
$main-text-color: #111;
$placeholder-text-color: rgba(0, 0, 0, 0.502);

$input-box-shadow: inset 0px 0px 3.57px 3.43px rgba(0, 0, 0, 0.35);