@import "./sass/notFoundPage.css";
@import "./sass/header.css";
@import "./sass/login.css";
@import "./sass/authorization.css";
@import "./sass/slider.css";
@import "./sass/shedule.css";
@import "./sass/footer.css";
@import "./sass/variable.css";
@import "./sass/mobile-version.css";
@import url("./sass/fonts/futura/style.css");

body {
  font-family: "Futura PT";
}

.flex-center {
  display: flex;
  align-items: center;
}